{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/colores.css' %}">
    <style>
        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            height: auto;
            border-top: solid 2px;
            border-top-color: #54456b;
            background: linear-gradient(to right, #F0E0A3, #EED09D);
        }

    </style>
</head>
<footer class="footer text-center text-lg-start">

    <div class="container d-flex justify-content-center">
        <a href="https://www.facebook.com/">
            <button type="button" class="boton btn btn-primary btn-lg btn-floating mx-2">
                <i class="bi bi-facebook"></i>
            </button>
        </a>
        <a href="https://www.tiktok.com/">
            <button type="button" class="boton btn btn-primary btn-lg btn-floating mx-2">
                <i class="bi bi-tiktok"></i>
            </button>
        </a>
        <a href="https://www.instagram.com/">
            <button type="button" class="boton btn btn-primary btn-lg btn-floating mx-2">
                <i class="bi bi-instagram"></i>
            </button>
        </a>

        <a href="https://x.com/">
            <button type="button" class="boton btn btn-primary btn-lg btn-floating mx-2">
                <i class="bi bi-twitter"></i>
            </button>
        </a>
    </div>

    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        2024 AgendaSafa:
        <a class="text-dark" href="https://mail.google.com/">supportAgendaSafa@gmail.com</a>
    </div>

</footer>