<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/btn-color.css' %}">
    <title>AgendaSafa</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>

        body {
            min-height: 100vh;
            position: relative;
            margin-bottom: 10rem;
        }

        .navbar {
            margin-bottom: 2%;
        }

        /* Estilos para pantallas de tamaño medio (tabletas, etc.) */
        @media (max-width: 768px) {

        }

        /* Estilos para pantallas pequeñas (teléfonos móviles, etc.) */
        @media (max-width: 576px) {

        }
    </style>
</head>
<body>

{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fs-3 fs-md-2" href="{% url 'inicio' %}">
                <img src="{% static 'imagenes/logo-agenda.png' %}" alt="Logo" width="50" height="50"
                     class="d-inline-block align-text-center">
                Agenda Safa
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        {% if user.rol == 'PERSONA' %}
                            <a class="navbar-brand" href="{% url 'contactos' %}">
                                Contactos
                            </a>
                        {% elif user.rol == 'ADMIN' %}
                            <a class="navbar-brand" href="{% url 'lista_usuarios' %}">
                                Usuarios
                            </a>
                        {% endif %}
                        <div class="nav-item">
                            {% if not user.rol == 'ADMIN' %}
                                <a class="nav-link text-white" href="{% url 'perfil' %}">Mi perfil</a>
                            {% endif %}
                            <a class="nav-link text-white" href="{% url 'logout' %}">Log out</a>
                        </div>
                    {% else %}
                        <div class="nav-item">
                            <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

</body>
</html>