{% include 'header.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 col-xl-6">
                <div class="card mt-5">
                    <div class="card-header text-white text-center" style="background-color: #54456b;">
                        <h3>Nuevo contacto</h3>
                    </div>
                    <form action="" method="post">

                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" name="nombre" class="form-control" id="nombre"
                                   value="{{ contacto.nombre }}">
                        </div>
                        <div class="mb-3">
                            <label for="apellidos" class="form-label">Apellidos</label>
                            <input type="text" name="apellidos" class="form-control" id="apellidos"
                                   value="{{ contacto.apellidos }}">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email"
                                   aria-describedby="emailHelp"
                                   value="{{ contacto.email }}">
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Telefono</label>
                            <input type="text" name="telefono" class="form-control" id="telefono"
                                   value="{{ contacto.telefono }}">
                        </div>
                        <div class="mb-3">
                            <label for="nota" class="form-label">Nota (Opcional)</label>
                            <input type="text" class="form-control" name="nota" id="nota" value="{{ contacto.nota }}">
                        </div>
                        <button type="submit" class="boton btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% include 'footer.html' %}