{% include 'header.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-9">
                    <div class="carta px-5 mt-5 custom-gradient-bg">
                        <div class="card-header text-white text-center" style="background-color: #54456b;">
                            <h3>Perfil</h3>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                {% if persona.foto.url %}
                                    <img src="{{ persona.foto.url }}" alt="Foto de perfil" class="img-thumbnail"
                                         style="width: 450px; height: 450px;">
                                {% else %}
                                    <p>No hay foto de perfil disponible</p>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <br>
                                <span class="my-3"><b>Nombre:</b></span>
                                <p class="mb-3 ms-4">{{ persona.nombre }}</p>
                                <span class="mb-3"><b>Apellidos:</b></span>
                                <p class="mb-3 ms-4">{{ persona.apellidos }}</p>
                                <span class="mb-3"><b>Teléfono:</b></span>
                                <p class="mb-3 ms-4">{{ persona.telefono }}</p>
                                <span class="mb-3"><b>Fecha de Nacimiento:</b></span>
                                <p class="mb-3 ms-4">{{ persona.fecha_nacimiento|date:'Y-m-d' }}</p>
                            </div>
                            <div class="col-12 text-center">
                                <a href="{% url 'editar_perfil' id=persona.id %}" class="boton btn btn-primary">
                                    Editar perfil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% include 'footer.html' %}